---
title: home
---
<html>

<head>
    <title>Eunki Chung</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport' />

    <meta name='description' content="Hi! I'm a MS student at the University of Washington.">
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        intro,
        about,
    '>
    <meta name='author' content='Eunki Chung'>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link href='/css/main.css' rel='stylesheet' />
    {% include mathjax.html %}
</head>

<body>
    {% include nav.html %}
    <div id='landing'>
        <h2>
            Eunki Chung
        </h2>
        <ul id='links' class='no-bullets'>
            <li>
                <a href='/about'>About</a>
            </li>
            <li>
                <a href='/blog'>Blog</a>
            </li>
            <li>
                <a href='http://www.github.com/eunkich' target='_blank'>Code</a>
            </li>
            <!-- <li id='contact'>
                eunkich@uw.edu
            </li> -->
        </ul>
    </div>
</body>

</html>