---
title: about
---
<html>

<style>
    ul.no-bullets {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
</style>

<head>
    <title>About</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport' />

    <meta name='description' content="Eunki Chung is a MS student at the University of Washington.">
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        intro,
        about,
    '>
    <meta name='author' content='Eunki Chung'>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link href='/css/main.css' rel='stylesheet' />

    {% include mathjax.html %}
</head>

<body>
    {% include nav.html %}
    <div id='landing'>
        <h2>
            Eunki Chung
        </h2>
        <h4>
            Hi! I'm a MS student at the University of Washington.
        </h4>
        <p>I study Computational Finance and Risk Management.<br>
            I'm interested in Machine Learning, Quantitative Finance and Decentralized Finance.</p>
        <br>
        <ul id='links' class='no-bullets'>
            <li>
                <a href='https://linkedin.com/in/eunki-chung'>Linkedin</a>
            </li>
            <li>
                <a href='resume.pdf'>Resume</a>
            </li>
            <li>
                <a href='https://www.github.com/Moong1234' target='_blank'>Code</a>
            </li>
            <li id='contact'>
                [givenname]ch@uw.edu
            </li>
        </ul>
    </div>
</body>

</html>